<!DOCTYPE html>
<html>
	<head>
		<title>Movie Chooser</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/paper/bootstrap.min.css">
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-lg-12">
					<div class="well">
						<form>
							<fieldset>
								<div class="form-group">
									<label for="movie" class="col-xs-12 col-md-2 col-lg-2 control-label">Movie Name</label>
									<div class="col-xs-12 col-md-10 col-lg-10">
										<input type="text" class="form-control" placeholder="Enter an idea..." name="movie" />
									</div>
								</div>
								<div class="form-group">
									<label for="who" class="col-xs-12 col-md-2 col-lg-2 control-label">Who?</label>
									<div class="col-xs-12 col-md-10 col-lg-10">
										<select class="form-control" name="who">
											<option value=""></option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="col-xs-12 col-md-4 col-lg-4">
										<button class="btn btn-primary btn-lg center-block" id="add">Add</button>
									</div>
									<div class="col-xs-12 col-md-4 col-lg-4">
										<button class="btn btn-default btn-lg center-block" id="choose">Choose</button>
									</div>
									<div class="col-xs-12 col-md-4 col-lg-4 filters text-center">
										<p class="filter-label">Filters</p>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="well" id="selection"></div>
				</div>
			</div>
		</div>

		<script type="text/template" id="list">
			<fieldset>
				<% if (movies.length) { %>
					<h4><%- selected %></h4>
					<p>Click a movie's name to remove it from the list.</p>
					<ul>
						<% movies.forEach(function (movie) { %>
							<li class="movie">
								<span class="label label-<%= colours[movie.who] %>"><%- movie.who + ':' %></span>
								<a class="remove" data-remove="<%- movie.name %>" href="#">
									<span class="movie-name"><%- movie.name %></span>
								</a>
							</li>
						<% }); %>
					</ul>
				<% } else { %>
					<h4>No movies yet...</h4>
				<% } %>
			</fieldset>
		</script>

		<script type="text/template" id="title">
			<div class="h2 title"><%- title %></div>
		</script>

		<script type="text/template" id="whos">
			<option value="<%- who %>"><%- who %></option>
		</script>

		<script type="text/template" id="whosfilters">
			<button type="button" class="btn btn-<%- colours[who] %> btn-sm js-filter"><%- who %></button>
		</script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
		<script src="App.js"></script>
	</body>
</html>
