<!DOCTYPE html>
<html>
	<head>
		<title>Movie Chooser</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/paper/bootstrap.min.css">
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-lg-12">
					<div class="well">
						<form>
							<fieldset>
								<div class="form-group">
									<label for="movie" class="col-xs-12 col-lg-2 control-label">Movie Name</label>
									<div class="col-xs-12 col-lg-10">
										<input type="text" class="form-control" placeholder="Enter an idea..." name="movie" />
									</div>
								</div>
								<div class="form-group">
									<label for="who" class="col-xs-12 col-lg-2 control-label">Who?</label>
									<div class="col-xs-12 col-lg-10">
										<select class="form-control" name="who">
											<option value=""></option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="col-xs-12 col-xs-offset-5 col-lg-10 col-lg-offset-5">
										<button class="btn btn-primary btn-lg" id="add">Add</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="well" id="selection"></div>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
		<script src="http://underscorejs.org/underscore-min.js"></script>

		<script type="text/template" id="list">
			<fieldset>
				<% if (movies.length) { %>
					<h4><%- selected %></h4>
					<ul>
						<% movies.forEach(function (movie) { %>
							<li class="movie">
								<span class="label label-<%= colours[movie.who] %>"><%- movie.who + ':' %></span>
								<span class="movie-name"><%- movie.name %></span>
								<a class="remove" data-remove="<%- movie.name %>" href="#">
									<span class="fa fa-times"></span>
								</a>
							</li>
						<% }); %>
					</ul>
					<div class="col-xs-12 col-xs-offset-5 col-lg-10 col-lg-offset-5">
						<button class="btn btn-default btn-lg" id="choose">Choose</button>
					</div>
				<% } else { %>
					<h4>No movies yet...</h4>
				<% } %>
			</fieldset>
		</script>

		<script type="text/template" id="title">
			<div class="h2 title"><%- title %></div>
		</script>

    <script type="text/template" id="whos">
      <option value="<%- who %>"><%- who %></option>
    </script>

		<script src="app.js"></script>
	</body>
</html>
