html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  padding-top: 70px;
}

button:focus:not(#add) {
  outline: 0 !important;
}

.title {
	padding-top: 5px;
	padding-bottom: 5px;
}

#add, #choose {
  margin-top: 18px;
}

.filter-label {
  margin-bottom: 0;
  margin-top: 9px;
}

.movie {
	font-size: 18px;
}

.movie-name {
  margin-left: 5px;
}

.label {
  box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}

a.remove {
	color: #666;
}

@media only screen and (max-width: 768px) {
	body {
		padding-top: 30px;
	}

	.title {
		font-size: 30px;
	}

  [for=who] {
    margin-top: 10px;
    margin-bottom: auto;
  }
}
