* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	background: #FAFAFA;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}

.header {
	display: flex;
	align-items: center;

	top: 0;
	left: 0;
	width: 100%;
	height: 56px;
	color: #FFF;
	background: #455a64;
	font-size: 20px;
	font-weight: 400;
	box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),
			0 2px 9px 1px rgba(0,0,0,.12),
			0 4px 2px -2px rgba(0,0,0,.2);
	padding: 0 16px;
	position: fixed;
	z-index: 1;
}

.header__title {
	color: #FFF;
	font-weight: 400;
	font-size: 20px;
	margin: 0;
}

.container {
	width: 100%;
	padding: 15px;
	padding-top: 75px;
}

.row {
	background: #FFF;
	width: 100%;
	margin: 10px 0;
}

.well {
	border-radius: 2px;
	border: 0;
	box-shadow: 0 3px 4px rgba(0,0,0,0.3);
}

.well.preload {
	height: 250px;
	flex: 1;

}

fieldset  {
	border: 0;
	padding: 25px;
}

.form-group {
	position: relative;
	margin-bottom: 20px;
}

input, select {
	display: block;
	padding: 10px 10px 10px 5px;
	width: 100%;
	font-size: 18px;
	border: none;
	border-bottom: 1px solid #757575;
	border-radius: 0;
}

select {
	background: transparent;
	-webkit-appearance: none;
}

input:focus, select:focus {
	outline: none;
}

label {
	color: #999;
	font-size: 18px;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 0.2s ease all;
}

input:focus ~ label,
input:valid ~ label,
select:focus ~ label,
select:valid ~ label {
	top: -12px;
	font-size: 14px;
	color: #5264AE;
}

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar::before,
.bar::after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #5264AE;
	transition: 0.2s ease all;
}

.bar::before {
	left: 50%;
}

.bar::after {
	right: 50%;
}

input:focus ~ .bar::before,
input:focus ~ .bar::after,
select:focus ~ .bar::before,
select:focus ~ .bar::after {
	width: 50%;
}

button {
	min-width: 100px;
	position: relative;
	border: none;
	outline: none;
	cursor: pointer;
	background: #9C27B0;
	color: #FFF;
	padding: 10px 16px;
	border-radius: 3px;
	font-size: 17px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
	-webkit-appearance: button;
	touch-action: manipulation;
	text-align: center;
	text-transform: uppercase;
	font-family: inherit;
	transition: all 0.4s;
}

button:active,
button.active {
	background-color: #6A1B9A;
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	transition: all 0.4s;
}

button:hover {
	background-color: #7B1FA2;
	transition: all 0.4s;
}

.ripple {
	overflow: hidden;
}

.ripple-effect {
	position: absolute;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background: white;
	animation: ripple-animation 2s;
	pointer-events: none;
	will-change: transform;
}

@keyframes ripple-animation {
	from {
		transform: scale(1);
		opacity: 0.4
	}
	to {
		transform: scale(100);
		opacity: 0;
	}
}

button:focus {
	outline: 0 !important;
}

.button-group {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

.filter-group {
	text-align: center;
}

.filter-btn {
	margin: 0 2px;
}

.btn-sm {
	padding: 5px 10px;
	font-size: 12px;
	min-width: 0;
}

.filter-label {
	color: #666;
	font-size: 13px;
	text-align: center;
	margin-bottom: 5px;
	margin-top: 9px;
}

movie-list, #selection {
	position: relative;
}

#selection {
	width: 100%;
	/*height: auto;*/
	height: 250px;
}

#selection::before,
movie-list::before {
	opacity: 0;
	content: '';
	pointer-events: none;
	position: absolute;
	background-color: #ddd;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0;
	transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
}

#selection::after,
movie-list::after {
	opacity: 0;
	pointer-events: none;
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	width: 40px;
	height: 40px;
	background: url(spinner.png) center center no-repeat;
	background-size: 40px 40px;
}

#selection[data-loading=true]::before,
#selection[data-loading=true]::after,
movie-list[loading=true]::before,
movie-list[loading=true]::after {
	transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
	opacity: 0.8;
	pointer-events: none;
}

#selection[data-loading=true]::after,
movie-list[loading=true]::after {
	animation-name: spin;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes spin {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

@media only screen and (max-width: 768px) {
	.container {
		padding-top: 72px;
	}

	.title {
		font-size: 30px;
	}

	.filter-group {
		text-align: center;
	}
}
